PORT=3001
NODE_ENV=production

# Frontend URL (za CORS) - karpas.app root
FRONTEND_URL=https://karpas.app

# Database Configuration
DB_HOST=94.130.111.127
DB_PORT=3306
DB_USER=komercijala1
DB_PASSWORD=TeletabisI!123
DB_NAME=komercijala

# JWT Secret
JWT_SECRET=karpasambalaze-komercijala
JWT_EXPIRES_IN=7d

OPENAI_API_KEY=sk-...
